<h2><%= @actor.name %>'s Page</h2>
<ul>
    <li><%= @actor.name %> has worked as an Actor in <%= @movies.count %> movies from IMDB.
    <% if @movies.count > 0 %>
        <ul>
            <% @movies.each do |movie| %>
                <li><%= link_to movie.title, movie %></li>
            <% end %>
        </ul>
    <% end %>
    </li>
    <li><%= @actor.name %> has worked as an Actor in <%= @netflix_type0.count %> <%= @types[0].name %>s on Netflix.
    <% if @netflix_type0.count > 0 %>
        <ul>
            <% @netflix_type0.each do |netflix_title| %>
                <li><%= link_to netflix_title.title, netflix_title %></li>
            <% end %>
        </ul>
    <% end %>
    </li>
    <li><%= @actor.name %> has worked as an Actor in <%= @netflix_type1.count %> <%= @types[1].name %>s on Netflix.
    <% if @netflix_type1.count > 0 %>
        <ul>
            <% @netflix_type1.each do |netflix_title| %>
                <li><%= link_to netflix_title.title, netflix_title %></li>
            <% end %>
        </ul>
    <% end %>
    </li>
</ul>

<%= link_to "&laquo; Back".html_safe, "javascript:history.back()", class: "btn btn-primary" %>