<h2><%= @user_first_name %>'s Page</h2>
<ul>
    <li>Full Name: <%= @user.name %></li>
    <li>Age: <%= @user.age %></li>
    <li><%= @user_first_name %> has watched <%= @movies.count %> movies from IMDB.</li>
    <li><%= @user_first_name %> has watched <%= @netflix_type0.count %> <%= @netflix_type0.name %> on Netflix.</li>
    <li><%= @user_first_name %> has watched <%= @netflix_type1.count %> <%= @netflix_type1.name %> on Netflix.</li>
</ul>

<%= link_to "&laquo; Back".html_safe, "javascript:history.back()", class: "btn btn-primary" %>